<div class="header">
    <div class="logo">
      <img src="/logo.png" alt="Logo" class="logo" />
    </div>
    <div class="language">
      <mat-form-field appearance="outline">
        <ng-template matPrefix>
          <mat-icon>language</mat-icon>
        </ng-template>
        <mat-label>Language</mat-label>
        <mat-select
          [(value)]="selectedLanguage"
          (selectionChange)="onLanguageChange($event)"
        >
          <mat-option *ngFor="let language of languages" [value]="language.code">
            {{ language.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="true">
      <div class="side-content">
        <div class="sidebar-header">
          <h3>Start chat</h3>
          <button mat-icon-button (click)="sidenav.toggle()" class="toggle-btn">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
  
        <!-- Loading Locations -->
        <div class="form">
          <!-- Loading Location Section -->
          <mat-form-field appearance="outline">
            <mat-label>Loading Location</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="auto"
              [(ngModel)]="selectedLoadingLocation"
              (input)="filterLocations($event, 'loading')"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let location of filteredLoadingLocations"
                [value]="location.city"
              >
                {{ location.city }}
              </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>location_on</mat-icon>
          </mat-form-field>
  
          <!-- Loading Date and Time -->
          <div class="delivery-datetime">
            <!-- Delivery Date for Loading -->
            <mat-form-field appearance="outline" class="date-field">
              <mat-label>Loading Date</mat-label>
              <input
                matInput
                [matDatepicker]="loadingDatePicker"
                [(ngModel)]="selectedLoadingDate"
                placeholder="Select loading date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="loadingDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #loadingDatePicker></mat-datepicker>
            </mat-form-field>
  
            <!-- Delivery Time for Loading -->
            <mat-form-field appearance="outline" class="time-field">
              <mat-label>Loading Time</mat-label>
              <mat-select
                placeholder="Select loading time"
                [(ngModel)]="selectedLoadingTime"
              >
                <mat-option *ngFor="let time of deliveryTimes" [value]="time">{{
                  time
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <!-- Unloading Location Section -->
          <mat-form-field appearance="outline">
            <mat-label>Unloading Location</mat-label>
            <input
              type="text"
              matInput
              [matAutocomplete]="autoUnloading"
              [(ngModel)]="selectedUnloadingLocation"
              (input)="filterLocations($event, 'unloading')"
            />
            <mat-autocomplete #autoUnloading="matAutocomplete">
              <mat-option
                *ngFor="let location of filteredUnloadingLocations"
                [value]="location.city"
              >
                {{ location.city }}
              </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>location_on</mat-icon>
          </mat-form-field>
  
          <!-- Unloading Date and Time -->
          <div class="delivery-datetime">
            <!-- Delivery Date for Unloading -->
            <mat-form-field appearance="outline" class="date-field">
              <mat-label>Unloading Date</mat-label>
              <input
                matInput
                [matDatepicker]="unloadingDatePicker"
                [(ngModel)]="selectedUnloadingDate"
                placeholder="Select unloading date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="unloadingDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #unloadingDatePicker></mat-datepicker>
            </mat-form-field>
  
            <!-- Delivery Time for Unloading -->
            <mat-form-field appearance="outline" class="time-field">
              <mat-label>Unloading Time</mat-label>
              <mat-select
                placeholder="Select unloading time"
                [(ngModel)]="selectedUnloadingTime"
              >
                <mat-option *ngFor="let time of deliveryTimes" [value]="time">{{
                  time
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <!-- Price -->
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput [(ngModel)]="selectedPrice" placeholder="Enter price" type="number" />
            <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>
        </div>
  
        <div class="button-container">
          <button mat-raised-button color="primary" class="button" (click)="onSubmit()">
            Start chat
          </button>
        </div>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="content-wrapper">
        <button
          *ngIf="!sidenav.opened"
          mat-icon-button
          (click)="sidenav.toggle()"
          class="show-sidebar-btn"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
  
        <!-- Chatbot in Main Content -->
        <div class="main-content">
          <div class="title-container">
            <h2 class="title">Chatbot</h2>
          </div>
          <div class="chat-container">
            <div class="chat-box">
              <div class="chat-message">
                <div class="message user">
                  <div class="message-box">
                    <p>
                      Hi, I'm your virtual assistant. How can I help you today?
                    </p>
                  </div>
                  <div class="avatar user">A</div>
                </div>
              </div>
              <div class="chat-message">
                <div class="message bot">
                  <div class="avatar bot">A</div>
                  <div class="message-box">
                    <p>
                      Hi, I'm your virtual assistant. How can I help you today?
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="chat-input-container">
              <div class="chat-input">
                <input type="text" placeholder="Type a message" />
                <button class="send-button" mat-icon-button color="primary">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  