// define colors
$background-color: #FFFFFF;
$primary-button-background: #006A6A;
$border-color: #BCC9C9;

mat-sidenav-container {
  height: calc(100vh - 80px); // Subtract header height
  
  mat-sidenav {
    width: 25%;
    min-width: 400px;
    background-color: $background-color;
  }
}

.header { 
    height: 80px;
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid $border-color;
    padding: 0 1rem;

    .logo {
        width: 150px;
        height: auto;
        display: flex;
        align-items: center;
    }

    .language {
        padding: 1rem;
    }
}

.side-content {
    padding: 16px 20px;
    background-color: $background-color;
    height: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid $border-color;
    
    .delivery-datetime {
        display: flex;
        gap: 16px;
      
        .date-field, .time-field {
          flex: 1;
        }
      }

    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h3 {
        margin: 0;
      }

      .toggle-btn {
        margin-left: auto;
      }
    }

    .form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .button-container {
        .button {
            width: 100%;
            border-radius: 5px;
        }
    }
}

.content-wrapper {
  position: relative;
  height: 100%;

  .show-sidebar-btn {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 1;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-left: none;
    border-radius: 0 4px 4px 0;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  }
}

.main-content {
    padding: 20px;
    background-color: $background-color;
    // width: 100%;

    .title-container {
        // width: 100%;
        padding-bottom: 10px;
        justify-items: center;

        .title {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 170px);
        border: 1px solid #000;
        border-radius: 0.5rem;
        background-color: $background-color;
        justify-content: space-between;

        .chat-box {
            padding: 10px;

            .chat-message {
                .message {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &.user {
                        justify-content: flex-end;
                    }

                    .avatar {
                        padding: 0.5rem 1rem;
                        border: 1px solid #000;
                        border-radius: 45%;
                        justify-items: center;
                        background-color: yellow;
                        align-content: center;
                        height: 25px;

                        &.bot {
                            margin-right: 1rem;
                        }

                        &.user {
                            margin-left: 1rem;
                        }
                    }

                    .message-box {
                        padding: 0.5rem 1rem;
                        border: 1px solid #000;
                        border-radius: 0.5rem;
                        background-color: #fff;
                        margin: 0.5rem 0;
                        max-width: 70%;
                        word-wrap: break-word;

                        p {
                            margin: 5px 0;
                        }
                    }
                }
            }
        }

        .chat-input-container {
            .chat-input {
                display: flex;
                align-items: center;
                margin-top: 10px;
                border-top: 1px solid #ddd;
                padding: 10px 20px;
            }
        
            .chat-input input[type="text"] {
                flex: 1;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
            }
        
            .send-button {
                background: none;
                border: none;
                margin-left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        
            .send-button mat-icon {
                font-size: 24px;
                color: #007bff;
            }
        }
    }
}